/******************** TYPOGRAPHY ********************/
html {
  font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #696969;
}

h2,
h3,
h4,
h5,
h6 {
  color: #313131;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1.04;
  color: #fff;
  white-space: pre-line;
  text-transform: uppercase;
}

h2 {
  font-size: 3.125em;
  font-weight: 100;
}

h3 {
  font-size: 2.25em;
  font-weight: 300;
}

h4 {
  font-size: 1.125em;
  font-weight: 500;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
}

p {
  margin-bottom: 20px;
}

small, .font_small {
  font-size: 0.707em;
}

.list-block li {
  float: right;
}

/******************** BUTTONS ********************/
.btn {
  border-radius: 23px;
  transition: all 0.3s;
  border: 0;
  background: #f39c12;
}

.btn:hover {
  box-shadow: none;
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn-base {
  color: #fff;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}

.btn-base i {
  border-right: 1px solid #fff;
  padding-right: 10px;
  height: 40px;
  padding-top: 5px;
}

.btn-lg .small-text,
.btn-lg .big-text {
  display: block;
  text-align: left;
}

.btn-lg i {
  font-size: 30px;
}

.btn-lg {
  padding: 13px 35px;
}

.btn-lg .media-left,
.btn-lg .media-body {
  width: auto;
  vertical-align: middle;
}

.btn-lg .media-left {
  padding-right: 15px;
}

.btn-lg .small-text {
  font-size: 18px;
  text-transform: uppercase;
}

.btn-lg .big-text {
  font-size: 20px;
  font-weight: 600;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
/*************** HOME PAGE HOME NAVBAR ***************/
@media screen and (min-width: 768px) {
  .navbar-home.navbar {
    background: #e7e7e7;
    height: 86px;
  }
  .navbar-home.navbar-nav > li.active a {
    color: #f39c12;
  }
  .navbar-home .navbar-nav li a {
    color: #565656;
    font-size: 0.875em;
  }
  .navbar-home.navbar-nav li a:hover {
    color: #f39c12;
  }
}

/*************** DEFAULT NAVBAR ***************/
.navbar {
  transition: all 0.3s;
  background: #e7e7e7;
  height: 86px;
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-nav {
  min-height: 86px;
  padding-top: 15px;
  line-height: 54px;
  margin-right: 51px;
}

.navbar-nav > li {
  font-size: 0.875em;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 0.875em;
  color: #565656;
}

.navbar-nav > li > a:hover {
  color: #f39c12;
}

.navbar-nav > li.active a {
  color: #f39c12;
}

.navbar-nav > li a:hover,
.navbar-nav > li a:focus {
  background: none;
}

.navbar-toggle {
  margin-top: 33px;
  margin-bottom: 33px;
  margin-right: 33px;
  background: #32C5D9;
  border-color: #797979;
  margin-top: 30px;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.collapsing, .in {
  background-color: rgba(25, 181, 254, 0.6);
  margin-top: -11px;
}

.slider {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.slider .slider_inner {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  /*opacity: 0.6;*/
  width: 100%;
  position: absolute;
}

.slider .slider_content {
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
  position: relative;
  text-align: right;
}
