
/*
|----------------------------------------------------------------------------
| FOOTER AREA
|----------------------------------------------------------------------------
*/

.footer{
	min-height:70px;
	background:#f8f8f8;
	padding-top:8px;
}