

/*
|----------------------------------------------------------------------------
| NEWSLETTER AREA
|----------------------------------------------------------------------------
*/


.newsletter{
	min-height:433px;
	background:#f8f8f8;
	.section-heading{
		margin-top:91px;
		.heading-text{
			margin-bottom: 40px;
		}
		.sub-heading{
			margin-bottom: 45px;
		}
	} 
}