/*
|----------------------------------------------------------------------------
| SLIDER AREA
|----------------------------------------------------------------------------
*/

.slider{
	background: url(../images/bg.jpg) no-repeat center center;
	background-size:cover;
	display: table;
	height: 100vh;
	width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;

	.slider_inner{
	background: rgba(0,0,0,0.30);
	height: 100vh;
	/*opacity: 0.6;*/
	width: 100%;
	position: absolute;}

	.slider_content{
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
    position: relative;
    text-align:right;

    .btn-lg{
    	margin-top: 48px;
    }
}
}