/*
|----------------------------------------------------------------------------
| WHY THIS APP
|----------------------------------------------------------------------------
*/
.why-this-app{
	min-height:524px;
	text-align:right;
	
	.list-block{

		li{
			margin-bottom:11px; 
			h4{
				display: inline-block;
				padding-right:15px;
			}

		}
	}
}   
